<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> SeaView Apartment </title>
		<link type="text/css" rel="stylesheet" href="static/index.css">
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	</head>

	<body>
	<div id="wrap">
		<header>
			<div id="logo">
				<img src="static/images/SeaView_logo.png" alt="static/images/SeaView_logo.png">
			</div>
			<h1> SeaView Apartment </h1>
		</header>

		<ul id="navbar" class="navbar">
			<li> <a href = "/"> Home </a></li>
			<li> <a href = "/information"> Information </a></li>
			<li> <a href = "/things_to_do"> Things to do </a></li>
			<li> <a href = "/directions"> Directions </a></li>
			<li> <a href = "/reviews"> Reviews </a></li>
			<li class="current"> <a href = "/contactus"> Contact Us </a></li>
			<li id="book"> <a href = "/booking"> BOOK HERE </a></li>
			<li class="dropdown"> <a href="javascript:void(0);" onclick="resize()">&#9776;</a></li> 
		</ul>
		
		<div id="main">
			<div class="border">
			<h2>Contact Us</h2>
				<ul>
					<li>Email: Seaview_apartment@gmail.com </li>
					<li>Tel: 01603 792739 </li>
					<li>Facebook: <a href="www.facebook.com/SeaViewApartment/?fref=ds">www.facebook.com/SeaViewApartment/?fref=ds</a></li>
				</ul>
			</div>
		</div>
	</div>
		<footer>
		<hr>
			<p> This page was last edited on the 13th November 2016. </p>
		</footer>
	<script src="static/index.js"></script> 
	</body>
</html>