<!DOCTYPE html>
<!--100158927-->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> SeaView Apartment </title>
		<link type="text/css" rel="stylesheet" href="static/index.css">
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	</head>

	<body data-title="Index">
	<div id="wrap">
		<header>
			<div id="logo">
				<img src="static/images/SeaView_logo.png" alt="SeaView logo">
			</div>
			<h1> SeaView Apartment </h1>
		</header>

		<ul id="navbar" class="navbar">
			<li class="current"> <a href = "/"> Home </a></li>
			<li> <a href = "/information"> Information </a></li>
			<li> <a href = "/things_to_do"> Things to do </a></li>
			<li> <a href = "/directions"> Directions </a></li>
			<li> <a href = "/reviews"> Reviews </a></li>
			<li> <a href = "/contactus"> Contact Us </a></li>
			<li id="book"> <a href = "/booking"> BOOK HERE </a></li>
			<li class="dropdown"> <a href="javascript:void(0);" onclick="resize()">&#9776;</a></li> 
		</ul>

		<!--The homepage slideshow which displays the next image every 5 seconds -->
		<div class="slideshow">
		  <div class="slidesCornwall fade">
		    <img src="static/images/Cornwall_Beach.jpg" alt="Cornwall Beach" style="width:100%">
		  </div>

		  <div class="slidesCornwall fade">
		    <img src="static/images/Cornwall_town.jpg" alt="Cornwall Town" style="width:100%">
		  </div>

		  <div class="slidesCornwall fade">
		    <img src="static/images/Cornwall_rocks.jpg" alt="Cornwall Rocks" style="width:100%">
		  </div>
		  
		  <div class="slidesCornwall fade">
		    <img src="static/images/Cornwall_sea.jpg" alt="Cornwall Sea" style="width:100%">
		  </div>
		  
		  <div class="slidesCornwall fade">
		    <img src="static/images/Cornwall_shops.jpg" alt="Cornwall Shops" style="width:100%">
		  </div>
		</div>
		<!-- Created a class for the dots below the slideshow -->
		<div style="text-align:center">
			<span class="dot"></span> 
			<span class="dot"></span> 
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
		</div>
		
		<div id="main">
			<div class="border">
				<h2 id="Introduction">Introduction</h2>
					<p> Looking for a perfect trip to the coast with your friends? Don't have much
					money but still want a good quality place to stay? Want a place that is close
					to everything you need? You have come to the right place then as SeaView 
					Apartment will fulfil your needs! </p>
					<p> The SeaView Apartment is situated in North-west of Cornwall, with only a
					15-minute walk to Perranporth beach, one of the most popular beaches in the
					 whole of England. Not only that, that is only one of the 42 beaches in North
					 Cornish Coast which means you will have plenty of choices on where to go and
					 our apartment will provide easy access to all of them. 
					</p>
					<p> Our website contains all the information you need such as a description of the facilities
					in the apartment, places of interest nearby, directions and we have an electronic visitor book
					where you can read comments from our previous happy visitors. We aim to provide the best
					experience for everyone however if you do have any questions or issues, please contact us
					about it and we will try to reply as soon as possible.
					</p>
			</div>	
		</div>
	</div>
		<footer>
		<hr>
			<p> This page was last edited on the 13th November 2016. </p>
		</footer>
	<script src="static/index.js"></script> 
	</body>
</html>